<% include ../partials/header %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Your Account Settings</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="heading-secondary">Profile Details</h2>
      <div>
        <a href="<%= user.gravatar %>" target="_blank" class="thumbnail">
          <img
            src="<%= user.gravatar %>"
            alt="<%= user.name %>"
            title="<%= user.name %>"
            width="300"
          />
        </a>
      </div>
      &nbsp;
      <div class="user-details">
        <h6>Name: <%= user.name %></h6>
        <h6>Username: <%= user.username %></h6>
        <h6>
          Email Address:
          <a href="mailto:<%= user.email %>"><%= user.email %></a>
        </h6>
        <% const date = user.createdAt.toLocaleString('en-us', { month: 'long',
        year: 'numeric' }) %>
        <h6>Joined: <time datetime="<%= date %>"><%= date %></time></h6>
      </div>
    </div>
    <div class="col-md-8">
      <h2 class="heading-secondary">Your Account Settings</h2>
      <form action="/submit-user-data" method="POST">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Username</label>
            <input
              type="text"
              name="username"
              value="<%= user.username %>"
              class="form-control"
            />
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Name</label>
            <input
              type="text"
              name="name"
              value="<%= user.name %>"
              class="form-control"
            />
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Email</label>
            <input
              type="text"
              name="email"
              value="<%= user.email %>"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group my-4 text-center">
          <button class="btn btn-primary">Save settings &rarr;</button>
        </div>
      </form>
    </div>
    <br />
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <h2 class="heading-secondary">Password Change</h2>
      <form action="/update-password" method="POST">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Current Password</label>
            <input
              type="password"
              name="passwordCurrent"
              placeholder="********"
              class="form-control"
            />
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Password</label>
            <input
              type="password"
              name="password"
              placeholder="********"
              class="form-control"
            />
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Confirm Password</label>
            <input
              type="password"
              name="passwordConfirm"
              placeholder="********"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group my-4 text-center">
          <button class="btn btn-primary">Save settings &rarr;</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>
