<% include ../partials/header %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>User Profile</h1>
          <h3><%= user.username %></h3>
          <div class="caption">
            <a class="custom-link" href="mailto:<%= user.email %>"
              ><%= user.email %></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="thumbnail">
        <ul class="custom-ul">
          <% posts.forEach(post => { %>
          <li><a href="/posts/<%= post._id %>"><%= post.title %></a></li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
