<% include ../partials/header %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1><%= h.siteName %></h1>
          <span class="subheading">A Blog Theme by Esteem Designs</span>
        </div>
      </div>
    </div>
  </div>
</header>

<% if (posts.length === 0) { %>
 <h2 class="text-center">Loading.....</h2>
<% } else { %>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% posts.forEach(post => { %>
        <div class="post-preview">
          <a href="/posts/<%= post.slug %>">
            <h2 class="post-title"><%= post.title %></h2>
            <h3 class="post-subtitle">
              <%= post.content.substring(100, 0) %>...
            </h3>
            <h6 class="post-subtitle">
              <span><em><%= post.description %></em></span>
            </h6>
          </a>
          <p class="post-meta">
            Posted by
            <a href="/users/profile/<%= post.author.username %>"><%= post.author.username %></a>
            <time datetime="<%= post.createdAt %>"><%= post.createdAt.toDateString() %></time>
          </p>
        </div>
        <hr />
        <% }); %>
  
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="/posts/more"
            >Older Posts &rarr;</a
          >
        </div>
      </div>
    </div>
  </div>
<% } %>

<% include ../partials/footer %>
