<% include ../partials/header %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('<%= post.image %>');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= post.title %></h1>
          <span class="meta"
            >Posted by
            <a href="#"><%= post.author.username %></a>
            <time datetime="<%= post.createdAt %>"><%= post.createdAt.toDateString() %></time>
          </span
          >
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <%= post.content %>
      </div>
    </div>
    <div class="custom-btn">
      <% if (user && post.author.id.equals(user._id) || user && user.role === 'admin') { %>
      <a class="btn btn-primary" href="/posts/<%= post.slug %>/edit"
        >Edit &rarr;</a
      >
      <form
        id="btn-del"
        action="/posts/<%= post._id %>?_method=DELETE"
        method="post"
      >
        <button class="btn btn-danger">Delete &rarr;</button>
      </form>
      <% } %>
    </div>
  </div>
</article>

<% include ../partials/footer %>
